body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

#title {
    margin: 0;
}

#title-span {
    border: solid blue 1px;
    border-radius: 10px;
    background-color: #F4C518;
    padding-left: 15px;
    padding-right: 15px;
}

#sub-title {
    margin: 0px auto 50px;
    text-shadow: #F4C518 2px 2px;
}

#submit-button {
    margin-top: 15px;
}

#movie-list {
    display: flex;
    flex-direction: column;
    width: 700px;
    text-align: left;
    justify-content: center;
    margin: 15px auto 0;
    border: solid black 1px;
}

ul {
    list-style-type: none;
}